{% extends "base.html" %}

{% block title %}
Login
{% endblock title %}

{% block body %}
<div class="d-flex my-3 mx-3 justify-content-center align-items-center min-vh-100">
    <form method="POST" action="/login/">
        {% csrf_token %}
        <div class="card text-center">
            <div class="card-body">
                <img src="/static/reg_logo.webp" class="img-thumbnail mx-3 my-3" height="200" width="200">

                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-user"></i></span>
                    <input type="text" name="userData" class="form-control" placeholder="Enter your email address or username..." aria-label="Username" aria-describedby="basic-addon1">
                    <div class="tooltip">Enter your email address or username</div>
                </div>
        
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-lock"></i></span>
                    <input type="password" name="password" id="password" class="form-control" placeholder="Enter your password..." aria-label="Password" aria-describedby="basic-addon1">
                    <i class="input-group-text fa-solid fa-eye" id="togglePassword"></i>
                </div>

                <button type="submit" id="buttonText" class="btn btn-primary">Login</button>

                <div class="my-3">Don't have an account? <a href="/register">Register</a></span>
                    
            </div>
        </div>
    </form>
</div>
<script>
    const togglePassword = document.querySelector('#togglePassword');
    const password = document.querySelector('#password');
    togglePassword.addEventListener('click', () => {
        const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
        password.setAttribute('type', type);
        if (type == 'text') {
            togglePassword.setAttribute('class', 'input-group-text fa-solid fa-eye-slash');
        }
        else {
            togglePassword.setAttribute('class', 'input-group-text fa-solid fa-eye');
        }
    });
</script>
{% endblock %}
